<div class="body-background" style="padding: 5px">
<br>

<%= link_to brew_path(@brew), method: :delete, data: { confirm: "Do you really want to delete this Brew ?" } do %>
        <i class="fas fa-trash-alt fa-2x" style="color: grey; float: right;" aria-hidden="true"></i><% end %>
<br>
<%# raise %>
  <% @brew_steps.each do |step|  %>
    <div class="col-md-12">
      <section class="profil-panel profils-widget">
          <% @beer_step = BeerStep.find(step.beer_step_id) %>
          <%# raise %>
          <div id="card" class="card" style="padding: 10px" data-value="<%= step.status.to_i %>">
          <!-- Brew_steps Status : <%= step.status %> <br>
          Brew_steps => Beer_step ID : <%= step.beer_step_id %> -->

          <h5><%= image_tag "#{step.beer_step_id}.png", width: '30', height: '30' %> <strong><span id="stepname"><%= @beer_step.description %></span></strong></h5>
          <%  @hash_sub_step.each_with_index do |(k,v), index| %>
            <div class="substep" style="display: none;">
              <strong style="color: grey;">Etape <%= k.to_s.to_i + 1 %> : </strong>
              <p>
                <% if v.is_a?(Hash) %>
                  <% v.each do |k,v| %>
                    <% if k.to_s == "photo" %>
                    <div class="photo">
                    <%= cl_image_tag v, height: 190, crop: :fill %> <br>
                    </div>
                    <% end %>
                    <% if v.to_s != "0" && k.to_s != "photo" %>
                    <div class="content">
                      &nbsp;&nbsp;&nbsp;<strong style="color: #FFC65A;"><%= k.capitalize %> : </strong><%= v %> <br>
                    </div>
                    <% end %>
                    <% if v.to_s != "0" && k.to_s == "time" %>
                    <div id="timer<%= index %>" data-value="<%= v %>"></div>
                    <span class="start" data-value="<%= index %>"><i class="fas fa-play"></i></span>

                    <span id="stop<%= index %>"><i class="fas fa-stop"></i></span>
                    <% end %>
                  <% end %>
                <% end %>
                <%# raise %>
              </p>
            </div>
          <% end %>
          </div>

<br>
        <nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled" id="previous-substep">
              <a class="page-link" href="#" tabindex="-1">Etape précédente</a>
            </li>
            <li class="page-item"><a class="" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li class="page-item"><a class="" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li class="page-item"><a class="" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li class="page-item" id="next-step" style="display: none;">
              <%= link_to 'Valider les étapes', update_step_path(@brew), data: { confirm: "Do you really want to go to the Next Step ?" }, class: "page-link", style: "background: #5cb85c;color: #fff; border: #5cb85c;" %>
            </li>
            <li class="page-item" id="next-substep" >
              <a class="page-link" id="next-substep-link" href="#">Etape suivante</a>
            </li>
            </ul>
        </nav>
        </div>
      </section>
    </div>
    <!--/col-md-12 -->
  <% end %>
</div>
<%# raise %>
<div style="background-color: #F0ECEB">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
