<div class="body-background" style="padding: 5px">
<br>

<%= link_to brew_path(@brew), method: :delete, data: { confirm: "Do you really want to delete this Brew ?" } do %>
        <i class="fas fa-trash-alt fa-2x" style="color: grey; float: right;" aria-hidden="true"></i><% end %>
<br>
<%# raise %>
  <% @brew_steps.each do |step|  %>

  <h5><strong>Mon Brassin : <%= @brew.beer.name %></strong></h5>

    <div class="col-md-12">
      <section class="profil-panel profils-widget">
          <% @beer_step = BeerStep.find(step.beer_step_id) %>
          <%# raise %>
          <div class="card" style="padding: 10px">
          <!-- Brew_steps Status : <%= step.status %> <br>
          Brew_steps => Beer_step ID : <%= step.beer_step_id %> -->

          <h5><%= image_tag 'numberOne.png', width: '30', height: '30' %> <strong>Etape : </strong><%= @beer_step.description %></h5>
          <%  @hash_sub_step.each do |k,v| %>
          <% if k.to_s.to_i == step.status %>
          <strong style="color: grey;">Etape <%= k.capitalize %> : </strong>
             <p> <% if v.is_a?(Hash) %>
              <% v.each do |k,v| %>
                &nbsp;&nbsp;&nbsp;<strong style="color: #FFC65A;"><%= k.capitalize %> : </strong><%= v %> <br>
              <% end %>
              <% else %>
                <%= v %> <br>
              <% end %>
            <% end %>
          <% end %>
            </p>
          </div>

<br>
        <nav aria-label="Page navigation example" style="display: flex; justify-content: center;">
          <ul class="pagination justify-content-end">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Etape précédente</a>
            </li>
            <li class="page-item"><a class="" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li class="page-item"><a class="" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li class="page-item"><a class="" href="#">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Etape suivante</a>
            </li>
          </ul>
        </nav>


        </div>
      </section>
    </div>
    <!--/col-md-12 -->
  <% end %>
</div>

<div style="background-color: #F0ECEB">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
