<nav>
  <% if user_signed_in? %>
    <ul class="list-inline tabs-underlined navbar-pab-navigation-beer">
        <li class="tab-underlined-beer active">
          <%= link_to beers_path do %>
            <div>
              <%= image_tag 'infos.png',
              width: '50', height: '50' %>
            </div>
          <% end %>
        </li>
        <li class="tab-underlined-beer">
          <%= link_to beers_path do %>
            <div>
              <%= image_tag 'timeline.png',
              width: '50', height: '50' %>
            </div>
          <% end %>
        </li>
        <li class="tab-underlined-beer">
          <%= link_to beers_path do %>
            <div>
              <%= image_tag 'malt.png',
              width: '50', height: '50' %>
            </div>
          <% end %>
        </li>
      </ul>
    </ul>
  <% end %>
</nav>
