<nav>
  <% if user_signed_in? %>
    <ul class="list-inline tabs-underlined navbar-pab-navigation-beer">
        <%= link_to beer_path(@beer, :anchor => "caracteristiques") do %>
        <li class="tab-underlined-beer active">
          <div class="caracteristiques">
            <%= image_tag 'infos.png',
            width: '50', height: '50' %>
          </div>
        </li>
        <% end %>
        <%= link_to beer_path(@beer, :anchor => "details") do %>
        <li class="tab-underlined-beer">
          <div class="resume">
            <%= image_tag 'timeline.png',
            width: '50', height: '50' %>
          </div>
        </li>
        <% end %>
        <%= link_to beer_path(@beer, :anchor => "resume") do %>
        <li class="tab-underlined-beer">
          <div class="ingredients">
            <%= image_tag 'malt.png',
            width: '50', height: '50' %>
          </div>
        </li>
        <% end %>
      </ul>
    </ul>
  <% end %>
</nav>
