<!DOCTYPE html>
<html>
  <head>
    <title>Prêt-a-brasser vos meilleures bières ?</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= favicon_link_tag %>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <%= javascript_pack_tag 'chartkick' %>
  </head>
  <body>
    <%= render 'shared/navbar', title: @title %>
    <% if user_signed_in? %>
    <%= render 'shared/secondNav' %>
    <% end %>

    <%= render 'shared/flashes' %>

    <%= yield %>
    <%= yield :charts_js %>

    <%# if current_page?('/beers/id') %>
    <% if params[:controller] == 'beers' && params[:action] == 'show' %>
    <%= render 'shared/beerNav' %>
    <% end %>

    <% if params[:controller] == 'brews' && params[:action] == 'show' || params[:controller] == 'ispindles' && params[:action] == 'index' || params[:controller] == 'ispindles' && params[:action] == 'parametrage' || params[:controller] == 'brew_steps' && params[:action] == 'dash'%>
    <%= render 'shared/brewNav' %>
    <% end %>

    <%# unless current_page?('/beers') %>
    <% unless params[:controller] == 'beers' && params[:action] == 'show' || params[:controller] == 'brews' && params[:action] == 'show' || params[:controller] == 'ispindles' && params[:action] == 'index' || params[:controller] == 'ispindles' && params[:action] == 'parametrage' || params[:controller] == 'brew_steps' && params[:action] == 'dash' %>
    <%= render 'shared/footer' %>
    <% end %>

    <%= javascript_pack_tag 'application' %>
  </body>
</html>
